<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Hebrides, an Opsworks sandbox</title>
  <meta name="description" content="Hebrides, an Opsworks sandbox">
  <meta name="author" content="SitePoint">
</head>

<body>

  <h2><%= `hostname` %></h2>

</body>
</html>
